{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Create a web service that allows a user to login, and upload either: a textual note or a single picture (these may be a
grocery list, a reminder, a todo list, a picture of a bag of rice, or similar – a quick note or picture).
<br><br>Each note or picture may have a one-word subject (such as “todo” or “groceries”), these subject words do not need
to be unique (there may be several grocery lists), and each note or picture may have a priority (10 is very important,
0 is not important).<br><br> Each picture or note will have an upload time associated with it.
<br><br>A user should be able to upload a note or picture, set the subject, and priority; or, see notes and pictures
(for that user), sorted by time and date (youngest or oldest first), or priority, or subject.
<br><br>Users should be able to delete a note or picture.
<br><br>Multiple users may use your service simultaneously.
<br><br>You may restrict picture sizes, note sizes, and limit number of pictures and notes, per user.</p>

{% endblock %}
