{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <p class="lead">Sagar Chhadia || Student ID: 3987 || Batch: 3:30 - 5:30</p>
    <p class="lead">Microsoft Azure</p>
</div>

<html>
<body>
<div>
    <p>Logged In User : {{user}}</p>
</div>

<div>
    <p>{{output}}</p>
</div>

<div>
    <p>{{Time}}</p>
</div>

<div>
    <br>
    <form id="formUpload" action="../uploadimage" method="post" enctype=multipart/form-data>
        <p class='description'></p> Please upload your documents here:<br><input type = "file" name="file_upload">
            <input type="hidden" name="username" value={{ user }}>
        <input type="text" class="Subject" value="" placeholder="Subject" name="Subject">
        <input type="text" class="Priority" value="" placeholder="Priority" name="PriorityNumber">
        <label class="login-field-icon fui-user" for="login-name"></label>
        <input type="submit" value="Submit" id="submit_file">
    </form>
</div>

<div>
    <br>
    <form id ='GetDocs' action="../wordsearch" method = 'POST' >
        Search Based on Word : <input type="text" class="FirstN" value="" placeholder="Enter Word" name="WordInput">
        <input type="submit" value="Submit"><br>
    </form>
</div>

<div>
    <br>
    <form id ='GetFilesSub' action="../subjectsearch" method = 'POST' >
        Search Based on Subject : <input type="text" class="FindSubject" value="" placeholder="Enter Subject" name="SubInput">
        <input type="submit" value="Submit"><br>
    </form>
</div>

<div>
    <br>
    <form id ='GetFilesPrio' action="../prioritysearch" method = 'POST' >
        Search Based on Priority : <input type="text" class="FindPriority" value="" placeholder="Enter Priority" name="PrioInput">
        <input type="submit" value="Submit"><br>
    </form>
</div>

<div>
    <br>
    <form id="displayFilesGivenTime" action="../displayfilesgiventime" method='POST'>
        Display All Images/Documents Uploaded Before X mins :
        <input type="text" class="DisplayFiles" value="" placeholder="Enter Minutes" name="DisplayMinInput">
        <input type="submit"value="Submit" id="submit_file"><br>
    </form>
</div>

<div>
    <br>
    <form id="deleteFilesGivenTime" action="../deletefilesgiventime" method='POST'>
        Delete All Images/Documents Uploaded Before X mins :
        <input type="text" class="DeleteFiles" value="" placeholder="Enter Minutes" name="DeleteMinInput">
        <input type="submit"value="Submit" id="submit_file"><br>
    </form>
</div>

<div>
    <br>
    <form id="delete_all" action="../deleteall" method='POST'>
        Delete All Images/Documents :
        <input type="submit"value="Delete" id="submit_file"><br>
    </form>
</div>

</body>
</html>

{% endblock %}